/* Keyframes for text revealing animation */
@keyframes textReveal {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

header {
    background-color: #f0f0f0;
    color: #000000;
    padding: 1em 0;
}

h1,
.slogan {
    opacity: 0;
    animation: textReveal 2s forwards;
    color: white;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

h1 {
    animation-delay: 0.5s;
}

.slogan {
    animation-delay: 1s;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.heads {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    width: 80%;
}

.head {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 1em;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s linear;
    overflow: hidden;
}

.head-center {
    grid-column: span 3;
    justify-self: center;
    margin-bottom: 2em;
}

.head img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: all 0.3s linear;
}

.head:hover .img {
    transform: scale(1.1);
    filter: grayscale(0%);
}

.head:hover .bioText {
    opacity: 1;
    height: auto;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(42, 42, 42, 0.7);
}

h2,
h3 {
    margin: 0.5em 0;
    color: #000000;
}

p {
    color: #666666;
    margin: 0.5em 0;
}

.faculty-box,
.coordinator-box {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 1em;
    padding: 1em;
    text-align: center;
    width: 80%;
}

.faculty-box h2,
.coordinator-box h2 {
    margin-bottom: 1em;
}

.faculty-grid,
.coordinator-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
}

.faculty-member,
.coordinator-member {
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 8px;
    padding: 1em;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.faculty-member:hover,
.coordinator-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Divide the Coordinator Name and Event Name with a line */
.coordinator-member h3 {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

/* Change the color of text to black */
.faculty-member p,
.coordinator-member p {
    color: #000000;
    margin: 0;
    font-weight: bold;
}

.image-container {
    position: relative;
    display: inline-block;
}

img {
    border-radius: 8px;
}

.search-icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 50%;
    display: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.image-container:hover .search-icon-container {
    display: block;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Initial state */
.head,
.faculty-box,
.coordinator-box {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s, transform 0.6s;
}

/* Active state */
.head.visible,
.faculty-box.visible,
.coordinator-box.visible {
    opacity: 1;
    transform: translateY(0);
}


/* Stagger the animation for each head */
.head:nth-child(1) {
    transition-delay: 0.5s;
}

.head:nth-child(2) {
    transition-delay: 0.7s;
}

.head:nth-child(3) {
    transition-delay: 0.9s;
}

.head:nth-child(4) {
    transition-delay: 1.1s;
}

.head:nth-child(5) {
    transition-delay: 1.3s;
}

.head:nth-child(6) {
    transition-delay: 1.5s;
}

.head:nth-child(7) {
    transition-delay: 1.7s;
}

.gap {
    margin-top: 2em;
}

header {
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    background-color: #b22049;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;
    position: fixed;
    top: 0;
    width: 95%;
    margin-left: 0;
    z-index: 1000;
    transition: width 1s ease, border-radius 1s ease, margin-left 1s ease;
    animation: reveal 2s;
}

@keyframes reveal {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

nav.scrolled {
    width: 1050px;
    margin-left: 200px;
    margin-top: 20px;
    border-radius: 40px 40px 40px 40px;
    transition: width 1s ease, border-radius 1s ease, margin-left 1s ease, margin-top 1s ease;
}

.scrolled ul,
.scrolled ul li a {
    margin-top: 0px;
    margin-left: auto;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.img2 {
    width: 50px;
    height: 50px;
    align-items: center;
    display: flex;
}

.scrolled .img2 {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 100vh;
    margin-top: 0px;
}

ul li {
    margin-left: 30px;
}

ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    margin-left: 20px;
}

ul li a:hover {
    color: #a0aec0;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    font-family: var(--font-stabil);
    font-weight: 100;
    font-size: 1.1111111111vw;
    line-height: 120%;
    text-transform: capitalize;
    margin-right: 1.3888888889vw;
    position: relative;
    padding: .9027777778vw 2.0833333333vw;
    display: flex;
    justify-content: center;
    color: black;
    background: #ebebeb;
    border-radius: 694.4444444444vw;
}

.buttons button:first-child {
    display: flex;
    align-items: center;
}

.buttons button:first-child i {
    margin-left: 5px;
}

.buttons button:hover {
    background-color: #cbd5e0;
}

button {
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #d69e2e;
    transform: scale(1.05);
}

.buttons .get-demo {
    background-color: #ecc94b;
    color: black;
}

.buttons .get-demo:hover {
    background-color: #d69e2e;
}

.day1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 120px;
    margin-bottom: 40px;
}

.head {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

.head:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.head img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.3s, filter 0.3s;
    filter: grayscale(50%);
}

.head img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}

.head h2,
.head h3 {
    margin: 10px 0;
    color: white;

}

.head p {
    color: white;

    margin: 10px 0;
}

/* New style for faculty box */
.faculty-box {
    position: relative;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.faculty-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    outline: #b22049 5px solid;
}

.faculty-box img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.3s, filter 0.3s;
}

.faculty-box img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}

.faculty-member {
    transition: color 0.3s;
}

.faculty-member:hover {
    color: #b22049;
}

.faculty-member p {
    transition: color 0.3s;
}

.faculty-member:hover p {
    color: #b22049;
}

.head {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s, opacity 0.6s, transform 0.6s;
    opacity: 0;
    transform: translateY(20px);
}

.head.visible {
    opacity: 1;
    transform: translateY(0);
}

.head:nth-child(1) {
    animation: slideFromRight 1s ease-out forwards;
    animation-delay: 0.5s;
}

.head img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.3s, filter 0.3s;
    filter: grayscale(50%);
}

.head img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}


@keyframes slideFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.txt {
    background-color: #b22049;
    padding-left: 20px !important;
    padding-bottom: 10px !important;
    padding-right: 20px !important;
    border-radius: 0, 10px, 10px, 0 !important;


}

.txt h2 {
    padding-top: 10px;
}


.coordinator-member p.event-name {
    background-color: #b22049;
    color: white;
    /* To ensure the text is readable */
    padding: 15px;
    /* Optional: add some padding for better appearance */
    border-radius: 0 0 8px 8px;
    /* Optional: round the bottom corners */
}

.coordinator-member p.event-name {
    background-color: #b22049;
    color: white;
    padding: 15px;
    border-radius: 0 0 8px 8px;
}

.coordinator-box:hover {
    outline: #b22049 5px solid;
}