body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7fafc;
    margin: 0;
    padding:0;
}

/* Day sections */
.day1,
.day2 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 100px;
}

.day1 {
    margin-bottom: 40px;
}

.day2 {
    margin-bottom: 20px;
}
.navbar {
  background-color: #000000;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  transition: transform 1.5s ease, width 1s ease, border-radius 1s ease, margin-left 1s ease, margin-top 1s ease;
  animation: textReveal 2s;
}

@keyframes textReveal {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.navbar.shrink {
  height: 80px;
  width: 90%;
  margin-left: calc((100vw - 90vw) / 2);
  margin-top: 20px;
  border-radius: 70px;
}



.navbar.scrolledup {
  transition: width 0.5s ease-out, border-radius 0.5s ease-out, margin-left 0.5s ease-out, margin-top 0.5s ease-out;
}

.navbar-brand img {
  height: 90px;
}

.moving-text {
  white-space: nowrap;
  position: relative;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  overflow: hidden;
  width: 51%;
}

.text-slide {
  display: inline-flex;
  align-items: center;
  animation: 10s slide infinite linear;
}

@keyframes slide {
  from { transform: translateX(0%); }
  to { transform: translateX(-50%); }
}

.animated-button {
  width: 130px;
  height: 35px;
  background-color: #b22049;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s, background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin: 0 10px;
}

.animated-button:hover {
  background-color: white;
}

.animated-button:hover span {
  color: #b22049;
}

.navbar-nav .nav-item .nav-link {
  color: white;
  padding: 7px 7px;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: #b22049;
  color: #ffffff;
}

.navbar-toggler {
  margin-left: auto;
  border: none;
  background: transparent;
  margin-bottom: 3%;
  width: 50px;
  height: 50px;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><path stroke="rgba(255, 255, 255, 0.5)" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>');
  
}
.navigation__menu{
  font-size: 20px;
  gap: 12px;
  
}

.dropdown-menu.navigation__submenu,
.dropdown-menu.navigation__submenu.show {
background-color: #000000;
}

.dropdown-menu.navigation__submenu .dropdown-item {
color: white;
}

.dropdown-menu.navigation__submenu .dropdown-item:hover,
.dropdown-menu.navigation__submenu .dropdown-item:focus {
background-color: #b22049;
color: white;
display: block;
margin-left:5px;
}

.navbar-nav .dropdown {
position: relative;
}

.navbar-nav .dropdown-menu {
margin-top: 0;
}

.navbar-nav .dropdown:hover .dropdown-menu,
.navbar-nav .dropdown .dropdown-menu:hover {
display: block;
}

.navbar-nav .dropdown-menu {
top: 100%;
left: 0;
}

@media (max-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    font-size: 20px !important;
  }
  .moving-text {
    margin-bottom: 20px;
    width: 80%;
    font-size: 16px;
  }
  .animated-button {
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 1000;
  }
}
@media (max-width: 768px) {
  .moving-text {
    width: 75%;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .moving-text {
    width: 51%;
    margin-bottom: 20px;
  }
}
.dropdown-toggle::after {
transition: transform 0.3s ease;
}

.nav-item.dropdown:hover .dropdown-toggle::after {
transform: rotate(180deg);
}

.navbar-nav .dropdown:hover .dropdown-menu {
display: block;
}

@media (max-width: 992px) {
.navbar-nav .dropdown-menu {
position: static;
float: none;
}
}

/* Boxes */
:root {
    --boxes: 2;
    --boxes1: 5;
    --boxHeight: calc(75vh + 20px);
    --boxMargin: 17vh;
    margin-top: 0px;
}

.custom-container {
    width: 90%;
    margin: 0 auto;
}

#list {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--boxes), var(--boxHeight));
    gap: var(--boxMargin);
}

#list1 {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--boxes1), var(--boxHeight));
    gap: var(--boxMargin);
}

#item1,
#item2,
#item3,
#item4,
#item5,
#item6,
#item7,
#item8 {
    position: sticky;
    top: var(--boxMargin);
}

.box-body {
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 0 30px 0 rgb(255, 255, 255);
    height: var(--boxHeight);
    display: flex;
    transition: all 0.5s;
    border-radius: 50px;
    overflow: hidden;
    margin-top: 15vh;
    height: 500px;
    width: 1280px;
}

.box-images {
    width: 58%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 5px;
    background-color: black;
}

.box-images img {
    width: 372px;
    height: 247.5px;
    object-fit: fill;
    transition: transform 0.5s ease-in-out, z-index 0s 0.5s;
    z-index: 0;
}

.box-images img:nth-child(1):hover {
    z-index: 1;
    transform: translate(50%, 50%) scale(2.05);
}

.box-images img:nth-child(2):hover {
    z-index: 2;
    transform: translate(-50%, 50%) scale(2.05);
}

.box-images img:nth-child(3):hover {
    z-index: 3;
    transform: translate(50%, -50%) scale(2.05);
}

.box-images img:nth-child(4):hover {
    z-index: 4;
    transform: translate(-50%, -50%) scale(2.05);
}

.box-text {
    flex: 1;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.box-text h2 {
    font-size: 2.5em;
    margin: 0 0 10px 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.box-text h3 {
    text-align: center;
    font-size: 1.1em;
    margin: 0 0 10px 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.box-text p {
    text-align: center;
    max-width: 350px;
    margin: 0;
    color: white;
    animation: fallDown 1s ease-out forwards;
    font-family: 'Montserrat', sans-serif;
}

#item1 .box-body1,
#item3 .box-body1,
#item5 .box-body1,
#item7 .box-body1 {
    flex-direction: row-reverse;
}

::-webkit-scrollbar {
    width: 30px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: yellow;
    border-radius: 10px;
    border: 8px solid #f1f1f1;
    width: 10px;
}

html {
    scrollbar-width: 20px !important;
    scrollbar-color: yellow #0c0c0c;
}

@keyframes reveal {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #b22049;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Responsive styles for mobile */
@media screen and (max-width: 768px) {
    ul {
        margin-block-start: 0.1em;
    }

    #item1 .box-body,
    #item2 .box-body,
    #item3 .box-body,
    #item4 .box-body,
    #item5 .box-body,
    #item6 .box-body,
    #item7 .box-body,
    #item8 .box-body {
        position: sticky;
        top: var(--boxMargin);
        margin-left: 0px;
        flex-direction: column;
        height: 73vh;
    }

    .box-body {
        width: 90%;
        height: 80%;
        margin-top: 20px;
    }

    #item1 .box-body,
    #item3 .box-body {
        flex-direction: column;
    }

    #item2 .box-body,
    #item4 .box-body {
        flex-direction: column-reverse;
    }

    #item5 .box-body,
    #item7 .box-body {
        flex-direction: column;
    }

    #item6 .box-body,
    #item8 .box-body {
        flex-direction: column-reverse;
    }

    li#item1,
    li#item2,
    li#item3,
    li#item4,
    li#item5,
    li#item6,
    li#item7,
    li#item8 {
        margin-left: 0px;
    }

    .box-images {
        width: 30%;
        border-top-right-radius: 40px;
    }

    .box-images img {
        width: 190px;
        height: 174px;
    }

    .box-images img:nth-child(2) {
        border-top-right-radius: 40px;
    }

    .box-text {
        width: 27%;
        
        /* Ensure the remaining height is taken by box text */
        text-align: center;
        padding: 20px;
        border-bottom-right-radius: 40px;
        margin-left:-10px;
    }

    .box-images img:nth-child(2):hover {
        z-index: 2;
        transform: translate(-52%, 50%) scale(2.03);
        /* Scales the image on hover (adjust as needed) */
        transition: transform 0.5s ease-in-out, z-index 0s;
        border-top-right-radius: 20px;
    }

    .box-images img:nth-child(4):hover {
        z-index: 4;
        transform: translate(-50%, -52%) scale(2.02);
        /* Scales the image on hover (adjust as needed) */
        transition: transform 0.5s ease-in-out, z-index 0s;
        border-top-right-radius: 20px;
    }

    .box-images {
        width: 100%;
        gap: 2px;
    }

    .box-images img {
        width: 100%;
        height: 100%;
    }

    .box-text {
        width: 103%;
        padding: 20px;
    }

    .box-text h2 {
        font-size: 1.5em;
        margin-top: -30px;
    }

    .box-text h3 {
        font-size: 18px;
        

    }

    .box-text p {
        max-width: 95%;
        font-size: 14px;
     
    }

    nav.scrolled {
        width: 100%;

        margin-left: 0;
        margin-top: 0;
        border-radius: 0;
    }

    .hello {
        padding-left: 0;
        text-align: center;
    }
}
