@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Override Bootstrap styles */
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col, .col-12, .col-md-4 {
  padding: 0 15px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7fafc;
}

header {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
}

h2 {
  margin-top: -7px;
}

.heading {
  margin-top: 50px;
  margin-bottom: 40px;
}

.box-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 50px;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}

.box-images img {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 250px;
    width:350px;
    object-fit: fill;
   
}

.box-text {
  padding: 20px;
  background-color: white;
}

.box-text h2 {
    font-family:'Poppins';
    text-align: center;
    margin: 0px; 
}

.box-text p {
    font-family:'Poppins';
    text-align:center;
    font-size: 22px;
    margin-top: 0px;
}

.learn-more-btn,
.animated-button1 {
  display: block;
  width: 120px;
  margin: 10px auto;
  text-align: center;
}

.ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.ul .li {
  margin-left: 20px;
}

.ul .li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.ul .li a:hover {
  color: #a0aec0;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons button {
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  font-family: var(--font-stabil);
  font-weight: 100;
  font-size: 1.1111111111vw;
  line-height: 120%;
  text-transform: capitalize;
  margin-right: 1.3888888889vw;
  position: relative;
  padding: .9027777778vw 2.0833333333vw;
  display: flex;
  justify-content: center;
  color: black;
  background: #ebebeb;
  border-radius: 694.4444444444vw;
}

.buttons button:first-child {
  display: flex;
  align-items: center;
}

.buttons button:first-child i {
  margin-left: 2.5px;
}

.buttons button:hover {
  background-color: #cbd5e0;
}

button {
  transition: background-color 0.3s, transform 0.3s;
}

.buttons .get-demo {
  background-color: #ecc94b;
  color: black;
}

.buttons .get-demo:hover {
  background-color: #d69e2e;
}

.learn-more-btn {
  background-color: #ecc94b;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.learn-more-btn:hover {
  background-color: #d69e2e; 
  color: black; 
}

.popup-toggle {
  display: none;
}

.popup-toggle:checked + .overlay {
  opacity: 1;
  visibility: visible;
  border-radius: 40px;
}

.popup-toggle:checked + .overlay + .box {
  transform: translate(-50%, -50%) scale(1);
  animation: popup 0.6s ease-out forwards;
}

.popup-toggle:checked ~ .overlay {
  display: block;
}

.popup-toggle:checked ~ .box {
  transform: translate(-50%, -50%) scale(1);
  animation: popup 0.6s ease-out forwards;
}
h1{
  padding-top:50px;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  z-index: 1;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.6s ease-out;
  z-index: 2;
}

.box-content h2 {
  margin-top: 0;
  color: #000;
  text-align: center;
}

.box-content p {
  margin-bottom: 0;
  color: #000;
  padding-left: 20px;
}
@keyframes popup {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  70% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.animated-button1 {
  background-color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s;
  border-radius: 40px;
  height: 37px;
}

#a2 {
  color: rgb(0,78,114);
  box-shadow: 1px 1px 0 rgb(0, 78, 114), 
              -1px -1px 0 rgb(0, 78, 114), 
              -1px 1px 0 rgb(0, 78, 114), 
              1px -1px 0 rgb(0, 78, 114);
}

#a2::before {
  background-color: rgb(0,78,114);
  z-index: 0;
}

#a1 {
  color: rgb(210,18,23);
  box-shadow: 1px 1px 0 rgb(210,18,23), 
              -1px -1px 0 rgb(210,18,23), 
              -1px 1px 0 rgb(210,18,23), 
              1px -1px 0 rgb(210,18,23);
}

#a1::before {
  background-color: rgb(210,18,23);
  z-index: 0;
}

#a3 {
  color: rgb(73,151,43);
  box-shadow: 1px 1px 0 rgb(73,151,43), 
              -1px -1px 0 rgb(73,151,43), 
              -1px 1px 0 rgb(73,151,43), 
              1px -1px 0 rgb(73,151,43);
}

#a3::before {
  background-color: rgb(73,151,43);
  z-index: 0;
}

#a4 {
  color: rgb(15,175,199);
  box-shadow: 1px 1px 0 rgb(15,175,199), 
              -1px -1px 0 rgb(15,175,199), 
              -1px 1px 0 rgb(15,175,199), 
              1px -1px 0 rgb(15,175,199);
}

#a4::before {
  background-color: rgb(15,175,199);
  z-index: 0;
}

#a5 {
  color: rgb(30,191,165);
  box-shadow: 1px 1px 0 rgb(30,191,165), 
              -1px -1px 0 rgb(30,191,165), 
              -1px 1px 0 rgb(30,191,165), 
              1px -1px 0 rgb(30,191,165);
}

#a5::before {
  background-color: rgb(30,191,165);
  z-index: 0;
}

#a6 {
  color: rgb(115,189,233);
  box-shadow: 1px 1px 0 rgb(115,189,233), 
              -1px -1px 0 rgb(115,189,233), 
              -1px 1px 0 rgb(115,189,233), 
              1px -1px 0 rgb(115,189,233);
}

#a6::before {
  background-color: rgb(115,189,233);
  z-index: 0;
}

.animated-button1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: top 0.3s;
  top: 100%;
}

.animated-button1:hover::before {
  top: 0;
}

.animated-button1 span {
  position: relative;
  transition: color 0.3s;
}

.animated-button1:hover span {
  color: white;
}

@keyframes textReveal {
  0% {
    opacity: 1;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate {
  display: inline-block;
  animation: lift 1s infinite;
}

@keyframes lift {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animated-text span:nth-child(1) { animation-delay: 0s; }
.animated-text span:nth-child(2) { animation-delay: 0.1s; }
.animated-text span:nth-child(3) { animation-delay: 0.2s; }
.animated-text span:nth-child(4) { animation-delay: 0.3s; }
.animated-text span:nth-child(5) { animation-delay: 0.4s; }
.animated-text span:nth-child(6) { animation-delay: 0.5s; }
.animated-text span:nth-child(7) { animation-delay: 0.6s; }
.animated-text span:nth-child(8) { animation-delay: 0.7s; }
.animated-text span:nth-child(9) { animation-delay: 0.8s; }
.animated-text span:nth-child(10) { animation-delay: 0.9s; }

@media screen and (max-width: 1200px) {
  .container {
    overflow-x: hidden;
    width: 100%;
  }

  .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .box {
    flex: 0 0 100%;
    scroll-snap-align: center;
    margin-right: 0;
  }

  .box-body {
    width: 85%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .box-images img {
    width: 100%;
    height: auto;
  }

  .box-text {
    width: 100%;
  }

  .box-text h2 {
    font-size: 24px;
  }

  .box-text p {
    font-size: 16px;
  }

  .learn-more-btn,
  .animated-button1 {
    margin: 10px auto;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  #cards::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  #cards {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
