@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
body {
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #f7fafc;

}

.day1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 100px;
    margin-bottom: 40px;
}

.day2 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    margin-top: 100px;
}


/*.navbar {
  background-color: #000000;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  transition: transform 1.5s ease, width 1s ease, border-radius 1s ease, margin-left 1s ease, margin-top 1s ease;
  animation: textReveal 2s;
}

@keyframes textReveal {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.navbar.shrink {
  height: 80px;
  width: 90%;
  margin-left: calc((100vw - 90vw) / 2);
  margin-top: 20px;
  border-radius: 70px;
}



.navbar.scrolledup {
  transition: width 0.5s ease-out, border-radius 0.5s ease-out, margin-left 0.5s ease-out, margin-top 0.5s ease-out;
}

.navbar-brand img {
  height: 90px;
}

.moving-text {
  white-space: nowrap;
  position: relative;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  overflow: hidden;
  width: 51%;
}

.text-slide {
  display: inline-flex;
  align-items: center;
  animation: 10s slide infinite linear;
}

@keyframes slide {
  from { transform: translateX(0%); }
  to { transform: translateX(-50%); }
}

.animated-button {
  width: 130px;
  height: 35px;
  background-color: #b22049;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s, background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin: 0 10px;
}

.animated-button:hover {
  background-color: white;
}

.animated-button:hover span {
  color: #b22049;
}

.navbar-nav .nav-item .nav-link {
  color: white;
  padding: 7px 7px;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: #b22049;
  color: #ffffff;
}

.navbar-toggler {
  margin-left: auto;
  border: none;
  background: transparent;
  margin-bottom: 3%;
  width: 50px;
  height: 50px;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><path stroke="rgba(255, 255, 255, 0.5)" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>');
  
}
.navigation__menu{
  font-size: 20px;
  gap: 12px;
  
}

.dropdown-menu.navigation__submenu,
.dropdown-menu.navigation__submenu.show {
background-color: #000000;
}

.dropdown-menu.navigation__submenu .dropdown-item {
color: white;
}

.dropdown-menu.navigation__submenu .dropdown-item:hover,
.dropdown-menu.navigation__submenu .dropdown-item:focus {
background-color: #b22049;
color: white;
display: block;
margin-left:5px;
}

.navbar-nav .dropdown {
position: relative;
}

.navbar-nav .dropdown-menu {
margin-top: 0;
}

.navbar-nav .dropdown:hover .dropdown-menu,
.navbar-nav .dropdown .dropdown-menu:hover {
display: block;
}

.navbar-nav .dropdown-menu {
top: 100%;
left: 0;
}

@media (max-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    font-size: 20px !important;
  }
  .moving-text {
    margin-bottom: 20px;
    width: 80%;
    font-size: 16px;
  }
  .animated-button {
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 1000;
  }
}
@media (max-width: 768px) {
  .moving-text {
    width: 75%;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .moving-text {
    width: 51%;
    margin-bottom: 20px;
  }
}
.dropdown-toggle::after {
transition: transform 0.3s ease;
}

.nav-item.dropdown:hover .dropdown-toggle::after {
transform: rotate(180deg);
}

.navbar-nav .dropdown:hover .dropdown-menu {
display: block;
}

@media (max-width: 992px) {
.navbar-nav .dropdown-menu {
position: static;
float: none;
}
}
*/


:root {
    --boxes: 1;
    --boxes_1: 3;
    --boxes_2: 7;
    --boxHeight: calc(75vh + 20px);
    --boxMargin: 17vh;
}

.custom-container1 {
    width: 90%;
    margin: 0 auto;
    
}

#list {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--boxes), var(--boxHeight));
    gap: var(--boxMargin);
    margin-bottom: var(--boxMargin);
}

#item1,
#item2,
#item3,
#item4,
#item5,
#item6,
#item7,
#item8,
#item9,
#item10,
#item11,
#item12,
#item13,
#item14,
#item15,
#item16,
#item17,
#item18,
#item19,
#item20{
    position: sticky;
    top: var(--boxMargin);
}
#list_1 {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--boxes_1), var(--boxHeight));
    gap: var(--boxMargin);
    margin-bottom: var(--boxMargin);
}

#list_2 {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--boxes_2), var(--boxHeight));
    gap: var(--boxMargin);
    margin-bottom: var(--boxMargin);
}

.box-body {
    box-sizing: border-box;
    box-shadow: 0 0 30px 0 rgb(255, 255, 255);
    height: var(--boxHeight);
    display: flex;
    transition: all 0.5s;
    border-radius: 50px;
    overflow: hidden;
}

.box-images {
    position: relative;
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    background-color: white;
}

.box-images img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    z-index: 0;
    transition: transform 0.5s ease-in-out, z-index 0s 0.5s;
    position: relative;
}

.box-image {
    flex: 1;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-text {
    flex: 1;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-text h2 {
    font-size: 2.5em;
    margin: 0 0 10px 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.box-text p {
    margin: 0;
    color: white;
    animation: fallDown 1s ease-out forwards;
    font-family: 'Montserrat', sans-serif;
}




::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: yellow;
    border-radius: 10px;
    border: 8px solid #f1f1f1;
    width: 10px;
}

html {
    scrollbar-width: 20px;
    scrollbar-color: yellow #000000;
}



/* Loading screen styles */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #b22049;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#main-content {
    display: none;
}


/*effects*/




#img1:hover,
#img5:hover,
#img9:hover {
    z-index: 1;
    transform: translate(48%, 48%) scale(2.09);
    transition: transform 0.5s ease-in-out, z-index 0s;
}
    #img1,#img2,#img3,#img4,#img5,#img6,#img7,#img8,#img9,#img10,#img11,#img12{
        height:100%;
    }
#img7,#img5{
    height:140px;
    margin-top:px
}




#img2:hover,
#img6:hover,
#img10:hover {
    z-index: 2;
    transform: translate(-53%, 53%) scale(2.09);
    transition: transform 0.5s ease-in-out, z-index 0s;
}


#img3:hover,
#img7:hover,
#img11:hover {
    z-index: 3;
    transform: translate(48%, -48%) scale(2.09);
    transition: transform 0.5s ease-in-out, z-index 0s;
}

#img4:hover,
#img8:hover,
#img12:hover {
    z-index: 4;
    transform: translate(-53%, -53%) scale(2.09);
    transition: transform 0.5s ease-in-out, z-index 0s;
}


/* Responsive styles for mobile */
@media screen and (max-width: 768px) {
    ul {
        margin-right:3px;
        margin-block-start: 0.1em;
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    footer a{
      margin-right: 33px !important;
    }
    .footer-left img{
      width:250px;
      height:150px;
    }


#item1 .box-body,
#item2 .box-body,
#item3 .box-body,
#item4 .box-body,
#item5 .box-body,
#item6 .box-body,
#item7 .box-body,
#item8 .box-body,
#item9 .box-body,
#item10 .box-body,
#item11 .box-body,
#item12 .box-body,
#item13 .box-body,
#item14 .box-body,
#item15 .box-body,
#item16 .box-body,
#item17 .box-body,
#item18 .box-body,
#item19 .box-body,
#item20 .box-body{
        position: sticky;
        top: var(--boxMargin);
        margin-left: 0px;
        flex-direction: column;
        height: 70vh;
    }

    .box-body {
        width: 90%;
        height: auto;
        margin-top: 20px;
    }

    #item2 .box-body,
    #item5 .box-body,
    #item7 .box-body,
    #item9 .box-body,
    #item12 .box-body,
    #item14 .box-body,
    #item16 .box-body,
    #item18 .box-body,
    #item20 .box-body{
        flex-direction: column-reverse;
    }

    li#item1,
    li#item2,
    li#item3,
    li#item4,
    li#item5,
    li#item6,
    li#item7,
    li#item8 {
        margin-left: 0px;
    }

    .box-images {
        width: 30%;
        border-top-right-radius: 40px;
    }

    .box-images img {
        width: 190px;
        height: 174px;
    }

    .box-images img:nth-child(2) {
        border-top-right-radius: 40px;
    }

    .box-text {
        width: 27%;
        /* Ensure the remaining height is taken by card text */
        text-align: center;
        padding: 20px;
        border-bottom-right-radius: 40px;
        margin-left:-10px;
    }

    .box-images img:nth-child(1):hover {
        z-index: 1;
        transform: translate(52%, 50%) scale(2.1);
        /* Scales the image on hover (adjust as needed) */
        transition: transform 0.5s ease-in-out, z-index 0s;
        border-top-right-radius: 20px;
    }
  
    .box-images img:nth-child(2):hover {
        z-index: 2;
        transform: translate(-52%, 50%) scale(2.1);
        /* Scales the image on hover (adjust as needed) */
        transition: transform 0.5s ease-in-out, z-index 0s;
        border-top-right-radius: 20px;
    }
    .box-images img:nth-child(3):hover {
        z-index: 3;
        transform: translate(50%, -52%) scale(2.1);
        /* Scales the image on hover (adjust as needed) */
        transition: transform 0.5s ease-in-out, z-index 0s;
        border-top-right-radius: 20px;
    }
  
    .box-images img:nth-child(4):hover {
        z-index: 4;
        transform: translate(-50%, -52%) scale(2.1);
        /* Scales the image on hover (adjust as needed) */
        transition: transform 0.5s ease-in-out, z-index 0s;
        border-top-right-radius: 20px;
    }
  
    .box-images {
        width: 100%;
        gap: 2px;
    }
  
    .box-images img {
        width: 100%;
        height: 300px;
    }
  
    .box-text {
        width: 103%;
        padding: 20px;
    }
  
    .box-text h2 {
        font-size: 1.5em;
        margin-top: -20px;
    }
  
    .box-text h3 {
        font-size: 18px;
        
  
    }
  
    .box-text p {
        max-width: 95%;
        font-size: 14px;
     
    }
  
    nav.scrolled {
        width: 100%;
  
        margin-left: 0;
        margin-top: 0;
        border-radius: 0;
    }
  
    .hello {
        padding-left: 0;
        text-align: center;
    }
  }

  @media (max-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
      font-size: 40px !important;
    }
    .dropdown-menu.navigation__submenu .dropdown-item {
    color: white;
    font-size: 30px;

  }

    .moving-text {
      margin-bottom: 20px;
      width: 80%;
      font-size: 16px;
    }

    .animated-button {
      width: 100px;
      height: 30px;
      font-size: 12px;
    }

    .navbar-collapse {
      background-color: rgba(0, 0, 0, 0.9);
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      z-index: 1000;
    }
  }

  @media (max-width: 768px) {
    .moving-text {
      width: 75%;
      margin-bottom: 20px;
    }
    .footer-content{
        flex-direction:column;
    }
    .footer-divider{
        display:none;
    }

.address p {
  text-align:center;
  font-size: 1em;
  line-height: 1.5;
  color: #ffffff;
  z-index: 0;
  max-width:none
}

  }

  @media (max-width: 480px) {
    .moving-text {
      width: 51%;
      margin-bottom: 20px;
    }
  }

  

footer {
  position: relative;
  background-color: #000000;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* Limit content width */
  margin: 0;
  /* Center the content horizontally */
  padding: 0 50px;
  z-index: 10;
  /* Adjust padding as needed */
}

.footer-left,
.footer-right {
  flex: 1;
  max-width: fit-content;
  z-index: 0;
  /* Take up remaining space and set max width */
}

.footer-right {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  /* Increased gap between the icons */
  margin-top: 20px;
  /* Adjust spacing as needed */
  z-index: 0;
}

.footer-right img {
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-right: 10px;
  z-index: 0;
}

.footer-right a {
  font-size: 40px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  /* Center the icons inside the grid items */
}

.footer-right a:hover {
  color: #b22049;
  transform: scale(1.2);
  z-index: 0;
}

.footer-divider {
  width: 2px;
  height: 150px;
  background-color: #ccc;
  margin: 0 20px;
  z-index: 0;
}

.logo2 img {
  /* Adjust the height of the logo */
  z-index: 0;
}

.address,
.social-links {
  text-align: end;
  font-size: 15px;
}

.address h4,
.social-links h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #ffffff;
  z-index: 0;
}

.address p {
  font-size: 1em;
  line-height: 1.5;
  color: #ffffff;
  z-index: 0;
}

footer p {
  margin: 0;
  /* Remove default margin for paragraphs */
  font-size: 14px;
  /* Adjust font size */
  z-index: 0;
}

footer h4 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0;
}


.footer-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.footer-nav ul li {
  margin: 10px 0;
  z-index: 0;
}

.footer-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
  z-index: 0;
}

.footer-nav ul li a:hover {
  color: #b22049;
  transform: translateX(20px);
  transition: transform 0.3s ease-in;
  z-index: 0;
}
